@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --black: black;
    --purple: purple;
    --light-color:#666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'andika';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: none;
    transition: all .2s Linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
body{
    background: #fff;

}

/*header*/
.header{
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    border: 1px solid;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    z-index: 1000;
    box-shadow: var(--box-shadow);

}

.header .logo img{
    margin-top: 10px;
    height: 95%;
    width: 65%;
    display: inline-block;

}

.header .headbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color:  var(--light-color);
}

.header .headbar a:hover{
    color: #fff;
    background: Linear-gradient(120deg,#FAB2FF 40%,#663399);

}

.header .menubtn{
    margin-right: 60px;

}

.header .menubtn button{
    padding: 10px 45px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    background-color: #fff;
    border-radius: 10px;
}
/*header*/

/*banner*/

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 10000px;
    position: relative;
    margin-top: 50px;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
.text {
    color: darkgray;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numbertext {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active,
    .dot:hover {
        background-color: #111111;
    }
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
/*banner*/

/*main*/

.main {
    width: 100%;
    display: flex;
    margin-top: 10px;
}

    .main .left {
        padding-left: 70px;
        padding-right: 50px;
        text-align: center;
        line-height: 1.6;
        padding-top: 90px;
    }

        .main .left h2 {
            padding-top: 10%;
            font-size: 25px;
            text-transform: capitalize;
            color: var(--light-color);
            margin-top: 10px;
        }

        .main .left h1 {
            font-size: 30px;
            text-transform: capitalize;
            width: 350px;
            font-weight: 700;
            padding-top: 5%;
            color: #003399;
        }

        .main .left p {
            padding-top: 5%;
            margin-bottom: 30px;
            font-size: 20px;
            color: var(--light-color);
        }

        .main .left button {
            padding-top: 12px;
            padding: 15px 45px;
            text-align: center;
            font-size: 14px;
            color: #fff;
            border: 1px solid;
            box-shadow: var(--box-shadow);
            background-image: Linear-gradient(to right,#649bff,#0070fa,#649bff);
            border-radius: 10px;
        }


    .main .right img {
        width: 30%;
        height: 30%;
        display: relative;
        margin-right: 10px;
        margin-top: 30px;
        margin-left: 10px;
        border-left: groove;
        box-shadow: var(--box-shadow);
    }

/*main*/
